.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

:focus,
a:hover {
    outline: 0 solid;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292929;
    font-family: 'Libre Baskerville', serif;
    font-weight: inherit;
    margin: 0 0 15px;
    line-height: 1.4em;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    color: #6f6f6f;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


.relative {
    position: relative;
    overflow: hidden;
}

.absulute {
    position: absolute;
}

.content-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.area-title,
.section-title {
    margin-bottom: 80px;
    position: relative;
}

.area-title h2 {
    color: #1a264a;
    line-height: 1;
    margin-bottom: 45px;
    padding-bottom: 35px;
    position: relative;
    text-transform: uppercase;
}

.area-title h2 span {
    color: #1193d4;
}

.icon-and-border {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #1193d4;
    display: inline-block;
    height: 40px;
    left: 0;
    margin: auto;
    padding-top: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45px;
    width: 40px;
}

.area-title h2::after {
    border-bottom: 2px dashed #1a264a;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50%;
}
/*media Qs*/
@media all and (max-width: 500px) {
    body{
        overflow-x: hidden;    
    }
}
/*end of defualt styles */

*{
    
}

.width100,
.width100 img {
    width: 100%;
}

.left,
.right,
.center {
    position: relative;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*backgrounds*/

.area-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.area-bg-blue:{
    background: #0260ee;
}

.area-bg::after,
.area-bg::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.area-bg::before {
    background: #ebeff8 none repeat scroll 0 0;
}

/*..........................*/


.top-area {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.welcome-text-area {
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    width: 100%;
}

.top-area .area-bg {
    background: rgba(0, 0, 0, 0)  no-repeat scroll center center / cover;
}

.top-area .area-bg::after {
    background: rgba(0, 0, 0, 0)  no-repeat scroll center center / cover;
    bottom: -59px;
    height: 166px;
    top: auto;
    z-index: 9;
}


/*nav*/
.header-top-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.mainmenu-area {
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999;
}

.navbar-header {
   
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
    background-color:#3557a0 ;
}

.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.is-sticky .navbar-brand > img {
    max-width: 80%;
}

.stellarnav.dark {
    background: rgba(0, 0, 0, 0);
}

.navbar-header {
    position: relative;
    z-index: 9999;
}

/*welcome page*/
.welcome-img{
    padding-top: 100px;
}
.welcome-img img {
    width: 60%;
}

.welcome-text h4 {
    font-size: 20px;
}

.welcome-text h1 {
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
}

.welcome-area {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* Gear solutions */
.resize {
 max-height: 175%;
 max-width: 175%;
 margin-top:30%;
 margin-left:30%;
}
@media screen and (max-width: 800px ){
.resize{
    display: none;
}
}
.line-border {
    border-bottom: 1px solid #1193d4;
    border-left: 1px solid #1193d4;
    border-right: 1px solid #1193d4;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
}

.icon-box{
max-width: 150px;
padding-left: 25%;
margin-left: 17%;
justify-content: center;
}

/* rent boxes */

.single-rent {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-rent:hover {
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 3 45px #ddd;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.rent-details h4 a {
    color: #292929;
}

.single-rent a:hover {
    color: #1193d4;
}

/*sign in area*/

.signup-width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    text-align: center;
}

.centersp{
    justify-content: center;
    display: flex;
}
